<?xml version="1.0" encoding="utf-8"?>
<phpunit>
    <testsuite name="php-nhl-api">
        <directory suffix=".php">../test</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../docs/code-coverage" />
    </logging>
</phpunit>